mixin img(name)
  img(src="./assets/images/" + name, alt="")


mixin btn(name,button,classIc,type)
  if(button != "button")
    a.btn(href="",class=type)
      span.btn-text #{name}
      if(classIc)
        span.btn-ic
          i(class=classIc)  
  else
    button.btn(class=type) 
      span.btn-text #{name}
      if(classIc)
        span.btn-ic
          i(class=classIc)


mixin banner-main(titleLg,titleSm,nameImg)
  .banner-main
    .container
      h1.title-lg.fw-7.cl-pri.fl-Big-Display #{titleLg}
      .note-lg.fw-7.cl-second.fl-Roboto #{titleSm}
    .banner-main-bg
      .banner-main-img
        img(src="./assets/images/" + nameImg, alt="")


mixin breadcrumbs(page1,page2,pageCurrent)
  .breadcrumbs
    .container 
      ul.breadcrumbs-list
        if (page2 == "")
          li.breadcrumbs-item
            a.breadcrumbs-link(href='') #{page1}  
          li.breadcrumbs-item.current
            a.breadcrumbs-link(href='') #{pageCurrent}
        else 
          li.breadcrumbs-item
            a.breadcrumbs-link(href='') #{page1}  
          li.breadcrumbs-item
            a.breadcrumbs-link(href='') #{page2}   
          li.breadcrumbs-item.current
            a.breadcrumbs-link(href='') #{pageCurrent}   

mixin box-navi(leftIc,rightIc)
  .box-navi
    .btn-navi.prev 
      i(class=leftIc)
    .btn-navi.next 
      i(class=rightIc)


mixin pagination()
  ul.page-numbers
    li
      span.page-numbers.current 01
    li
      a.page-numbers(href='') 02
    li
      a.page-numbers(href='') ...
    li
      a.page-numbers(href='') 08
 


mixin title-sm3(title)
  h2.title-sm3.t-up.fl-Anybody.t-up #{title}


