extends layout/layout
block vars
    -title = 'trang-chu'
    -mainClass = 'page-template pt'
    -bodyClass = ''
    -hdClass = ''

block container
    section.banner_home 
        .banner_home--wrap
                .banner_home--top
                    .container
                        .banner_home--top-wrap
                            .banner_home--top-list 
                                .swiper.mySwiperBnT
                                    .swiper-wrapper
                                        - const bhs = [{title:"THI CÔNG TRỌN GÓI",note:"GIẢI PHÁP TỐI ƯU CHO CÔNG TRÌNH CỦA BẠN",text:"Loại hình dịch vụ xây dựng mà gia chủ sẽ giao khoán căn nhà của mình cho nhà thầu thực hiện thi công từ A đến Z. Đây cũng là lý do mà dịch vụ xây nhà trọn gói còn có tên gọi khác là xây nhà chìa khóa trao tay. Việc mà gia chủ cần làm là nêu yêu cầu, đầu tư tài chính cho cho nhà thầu và cuối cùng là khai thác sử dụng sau khi hoàn thiện."},{title:"THI CÔNG TRỌN GÓI 2",note:"GIẢI PHÁP TỐI ƯU CHO CÔNG TRÌNH CỦA BẠN",text:"Loại hình dịch vụ xây dựng mà gia chủ sẽ giao khoán căn nhà của mình cho nhà thầu thực hiện thi công từ A đến Z. Đây cũng là lý do mà dịch vụ xây nhà trọn gói còn có tên gọi khác là xây nhà chìa khóa trao tay. Việc mà gia chủ cần làm là nêu yêu cầu, đầu tư tài chính cho cho nhà thầu và cuối cùng là khai thác sử dụng sau khi hoàn thiện."},{title:"THI CÔNG TRỌN GÓI 3",note:"GIẢI PHÁP TỐI ƯU CHO CÔNG TRÌNH CỦA BẠN",text:"Loại hình dịch vụ xây dựng mà gia chủ sẽ giao khoán căn nhà của mình cho nhà thầu thực hiện thi công từ A đến Z. Đây cũng là lý do mà dịch vụ xây nhà trọn gói còn có tên gọi khác là xây nhà chìa khóa trao tay. Việc mà gia chủ cần làm là nêu yêu cầu, đầu tư tài chính cho cho nhà thầu và cuối cùng là khai thác sử dụng sau khi hoàn thiện."},{title:"THI CÔNG TRỌN GÓI 4",note:"GIẢI PHÁP TỐI ƯU CHO CÔNG TRÌNH CỦA BẠN",text:"Loại hình dịch vụ xây dựng mà gia chủ sẽ giao khoán căn nhà của mình cho nhà thầu thực hiện thi công từ A đến Z. Đây cũng là lý do mà dịch vụ xây nhà trọn gói còn có tên gọi khác là xây nhà chìa khóa trao tay. Việc mà gia chủ cần làm là nêu yêu cầu, đầu tư tài chính cho cho nhà thầu và cuối cùng là khai thác sử dụng sau khi hoàn thiện."},{title:"THI CÔNG TRỌN GÓI 5",note:"GIẢI PHÁP TỐI ƯU CHO CÔNG TRÌNH CỦA BẠN",text:"Loại hình dịch vụ xây dựng mà gia chủ sẽ giao khoán căn nhà của mình cho nhà thầu thực hiện thi công từ A đến Z. Đây cũng là lý do mà dịch vụ xây nhà trọn gói còn có tên gọi khác là xây nhà chìa khóa trao tay. Việc mà gia chủ cần làm là nêu yêu cầu, đầu tư tài chính cho cho nhà thầu và cuối cùng là khai thác sử dụng sau khi hoàn thiện."}]
                                            each bh , i in bhs
                                                .swiper-slide
                                                    .banner_home--top-item
                                                        .title-lg.fl-Big-Display.cl-pri.fw-7.t-up #{bh.title}
                                                        .note-lg.fl-Anybody.fw-7.t-up.cl-second #{bh.note}
                                                        .note-text.cl-black2 #{bh.text}
                                                        +btn("Tìm hiểu thêm","","far fa-arrow-right","")
                .swiper-pagination                                        
                .banner_home--bottom
                    .container
                        .banner_home--bottom-wrap.d-wrap 
                            .banner_home--bottom-lf.d-item 
                                .banner_home--bottom-lf-wrap 
                                    +box-navi("fal fa-arrow-left","fal fa-arrow-right")
                            .banner_home--bottom-rt.d-item 
                                .banner_home--bottom-rt-wrap 
                                    .banner_home--bottom-rt-list.d-wrap
                                        .swiper.mySwiperBnB
                                            .swiper-wrapper
                                                - const listImgs = [{img:"bnh.png"},{img:"bnh2.png"},{img:"bnh3.png"},{img:"bnh4.png"},{img:"bnh3.png"}]
                                                    each listmg , i in listImgs
                                                        .swiper-slide.d-item 
                                                            .banner_home--bottom-rt-item
                                                                .banner_home--bottom-rt-box
                                                                    .banner_home--bottom-rt-img 
                                                                        +img(listmg.img)
    section.home_about.line 
        .container 
            .du_an-ct--list
                .du_an-ct--item
                    .du_an-ct--item-wrap.d-wrap 
                        .du_an-ct--item-lf.d-item.d-2
                            .du_an-ct--item-lf-wrap
                                .note-lg.fl-Anybody.fw-7.cl-second.t-up VỀ CHÚNG TÔI
                                +title-sm3("XÂY DỰNG NHÀ Ở TRỌN GÓI")
                                .note-text Các kiến trúc sư tại AKACONS sẽ làm việc với khách hàng để hiểu nhu cầu và mong muốn, sau đó tạo ra một thiết kế phù hợp với ngân sách, phong cách và những yêu cầu cụ thể. Chúng tôi tin rằng các kiến trúc sư có nghĩa vụ tạo ra những không gian lý tưởng và hoàn thành xuất sắc dự án đó mà vẫn hài hòa về cảnh quan và công năng. Các kiến trúc sư không chỉ nghiên cứu cách các tòa nhà được xây dựng mà còn cả cách sử dụng không gian.
                                +btn("Tìm hiểu thêm","","far fa-arrow-right","")  
                        .du_an-ct--item-rt.d-item.d-2 
                            .du_an-ct--item-rt-wrap(data-aos="fade-in")
                                .du_an-ct--item-img
                                    +img("hab.png")
                .du_an-ct--item
                    .du_an-ct--item-wrap.d-wrap 
                        .du_an-ct--item-lf.d-item.d-2
                            .du_an-ct--item-lf-wrap 
                                +title-sm3("THI CÔNG XÂY DỰNG CÔNG TRÌNH TRỌN GÓI")
                                .note-text Các kiến trúc sư tại AKACONS sẽ làm việc với khách hàng để hiểu nhu cầu và mong muốn, sau đó tạo ra một thiết kế phù hợp với ngân sách, phong cách và những yêu cầu cụ thể. Chúng tôi tin rằng các kiến trúc sư có nghĩa vụ tạo ra những không gian lý tưởng và hoàn thành xuất sắc dự án đó mà vẫn hài hòa về cảnh quan và công năng. Các kiến trúc sư không chỉ nghiên cứu cách các tòa nhà được xây dựng mà còn cả cách sử dụng không gian.
                                +btn("Tìm hiểu thêm","","far fa-arrow-right","")  
                        .du_an-ct--item-rt.d-item.d-2 
                            .du_an-ct--item-rt-wrap(data-aos="fade-right")
                                .du_an-ct--item-img
                                    +img("hab2.png")                                
    section.home_core 
        .container
            .home_core--wrap.d-wrap
                .home_core--lf.d-item.d-2 
                    .home_core--lf-wrap 
                        .home_core--lf-list-ao 
                        .home_core--lf-list 
                            .home_core--lf-item
                                .home_core--lf-box1
                                    .home_core--lf-img1 
                                        +img("hcore1.png")
                                .home_core--lf-box2        
                                    .home_core--lf-img2 
                                        +img("hcore2.png")
                            .home_core--lf-item
                                .home_core--lf-box1
                                    .home_core--lf-img1 
                                        +img("hcore1.png")
                                .home_core--lf-box2        
                                    .home_core--lf-img2 
                                        +img("hcore2.png")
                            .home_core--lf-item
                                .home_core--lf-box1
                                    .home_core--lf-img1 
                                        +img("hcore1.png")
                                .home_core--lf-box2        
                                    .home_core--lf-img2 
                                        +img("hcore2.png")
                            .home_core--lf-item
                                .home_core--lf-box1
                                    .home_core--lf-img1 
                                        +img("hcore1.png")
                                .home_core--lf-box2        
                                    .home_core--lf-img2 
                                        +img("hcore2.png")
                            .home_core--lf-item
                                .home_core--lf-box1
                                    .home_core--lf-img1 
                                        +img("hcore1.png")
                                .home_core--lf-box2        
                                    .home_core--lf-img2 
                                        +img("hcore2.png")                                                
                            
                .home_core--rt.d-item.d-2                        
                    .home_core--rt-wrap 
                        +title-sm3("GIÁ TRỊ CỐT LÕI")
                        .home_core--rt-content.d-wrap 
                            .home_core--rt-lf.d-item
                                .home_core--rt-lf-wrap
                                    .swiper.mySwiperCore 
                                        .swiper-wrapper 
                                            .swiper-slide
                                                .home_core--rt-lf-item 
                                                    .title-sm2.fw-6.fl-Big-Display Trung thực 1
                                                    .note-text.cl-black2 Là giá trị quan trọng nhất của AKACONS, cũng là kim chỉ nam cho mọi hoạt động kinh doanh của chúng tôi trên con đường chinh phục và tạo dựng niềm tin đến khách hàng.
                                            .swiper-slide
                                                .home_core--rt-lf-item 
                                                    .title-sm2.fw-6.fl-Big-Display Trung thực 2
                                                    .note-text.cl-black2 Là giá trị quan trọng nhất của AKACONS, cũng là kim chỉ nam cho mọi hoạt động kinh doanh của chúng tôi trên con đường chinh phục và tạo dựng niềm tin đến khách hàng.

                                            .swiper-slide
                                                .home_core--rt-lf-item 
                                                    .title-sm2.fw-6.fl-Big-Display Trung thực 3
                                                    .note-text.cl-black2 Là giá trị quan trọng nhất của AKACONS, cũng là kim chỉ nam cho mọi hoạt động kinh doanh của chúng tôi trên con đường chinh phục và tạo dựng niềm tin đến khách hàng.

                                            .swiper-slide
                                                .home_core--rt-lf-item 
                                                    .title-sm2.fw-6.fl-Big-Display Trung thực 4
                                                    .note-text.cl-black2 Là giá trị quan trọng nhất của AKACONS, cũng là kim chỉ nam cho mọi hoạt động kinh doanh của chúng tôi trên con đường chinh phục và tạo dựng niềm tin đến khách hàng.
                                            .swiper-slide
                                                .home_core--rt-lf-item 
                                                    .title-sm2.fw-6.fl-Big-Display Trung thực 5
                                                    .note-text.cl-black2 Là giá trị quan trọng nhất của AKACONS, cũng là kim chỉ nam cho mọi hoạt động kinh doanh của chúng tôi trên con đường chinh phục và tạo dựng niềm tin đến khách hàng.                                
                            .home_core--rt-rt.d-item
                                .home_core--rt-rt-wrap 
                                    +box-navi("fal fa-arrow-up","fal fa-arrow-down")
    section.ac_future.home.line
        .container 
            .ac_future--title 
                +title-sm3("LĨNH VỰC HOẠT ĐỘNG")
                .note-text.cl-black2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .ac_future--list.list-hover 
            a(href="#").ac_future--item.showed.item-hover
                span.btn-al-ic.cl-2
                    i.fas.fa-arrow-right 
                span.ac_future--item-bg 
                    +img("acfuture.png")
                span.ac_future--item-wrap 
                    span.ac_future--item-top
                        span.note-text.cl-white 01
                        span.note-lg.cl-white.fw-7.fl-Anybody.t-up XÂY DỰNG NHÀ Ở TRỌN GÓI
                    span.ac_future--item-bottom
                        span.ac_future--item-bottom-lf 
                            span.ac_future--item-bottom-lf-wrap 
                                span.title-sm3.fw-7.cl-white 01
                                span.note-text.cl-white 05
                        span.ac_future--item-bottom-rt 
                            span.ac_future--item-bottom-rt-wrap 
                                span.title-sm4.fl-Big-Display.fw-7.cl-white XÂY DỰNG NHÀ Ở TRỌN GÓI
                                span.note-text.cl-white Là một loại hình dịch vụ xây dựng mà gia chủ sẽ giao khoán căn nhà của mình cho nhà thầu thực hiện thi công từ A đến Z.

            a(href="#").ac_future--item.item-hover
                span.btn-al-ic.cl-2
                    i.fas.fa-arrow-right 
                span.ac_future--item-bg 
                    +img("acfuture.png")
                span.ac_future--item-wrap 
                    span.ac_future--item-top
                        span.note-text.cl-white 02
                        span.note-lg.cl-white.fw-7.fl-Anybody.t-up XÂY DỰNG PHẦN THÔ
                    span.ac_future--item-bottom
                        span.ac_future--item-bottom-lf 
                            span.ac_future--item-bottom-lf-wrap 
                                span.title-sm3.fw-7.cl-white 02
                                span.note-text.cl-white 05
                        span.ac_future--item-bottom-rt 
                            span.ac_future--item-bottom-rt-wrap 
                                span.title-sm4.fl-Big-Display.fw-7.cl-white XÂY DỰNG PHẦN THÔ
                                span.note-text.cl-white Là một loại hình dịch vụ xây dựng mà gia chủ sẽ giao khoán căn nhà của mình cho nhà thầu thực hiện thi công từ A đến Z.
           
            a(href="#").ac_future--item.item-hover
                span.btn-al-ic.cl-2
                    i.fas.fa-arrow-right 
                span.ac_future--item-bg 
                    +img("acfuture.png")
                span.ac_future--item-wrap 
                    span.ac_future--item-top
                        span.note-text.cl-white 03
                        span.note-lg.cl-white.fw-7.fl-Anybody.t-up SỬA CHỮA NHÀ Ở TRỌN GÓI
                    span.ac_future--item-bottom
                        span.ac_future--item-bottom-lf 
                            span.ac_future--item-bottom-lf-wrap 
                                span.title-sm3.fw-7.cl-white 03
                                span.note-text.cl-white 05
                        span.ac_future--item-bottom-rt 
                            span.ac_future--item-bottom-rt-wrap 
                                span.title-sm4.fl-Big-Display.fw-7.cl-white SỬA CHỮA NHÀ Ở TRỌN GÓI
                                span.note-text.cl-white Là một loại hình dịch vụ xây dựng mà gia chủ sẽ giao khoán căn nhà của mình cho nhà thầu thực hiện thi công từ A đến Z.

            a(href="#").ac_future--item.item-hover
                span.btn-al-ic.cl-2
                    i.fas.fa-arrow-right 
                span.ac_future--item-bg 
                    +img("acfuture.png")
                span.ac_future--item-wrap 
                    span.ac_future--item-top
                        span.note-text.cl-white 04
                        span.note-lg.cl-white.fw-7.fl-Anybody.t-up CẢI TẠO CÔNG TRÌNH, NHÀ Ở CŨ
                    span.ac_future--item-bottom
                        span.ac_future--item-bottom-lf 
                            span.ac_future--item-bottom-lf-wrap 
                                span.title-sm3.fw-7.cl-white 04
                                span.note-text.cl-white 05
                        span.ac_future--item-bottom-rt 
                            span.ac_future--item-bottom-rt-wrap 
                                span.title-sm4.fl-Big-Display.fw-7.cl-white CẢI TẠO CÔNG TRÌNH, NHÀ Ở CŨ
                                span.note-text.cl-white Là một loại hình dịch vụ xây dựng mà gia chủ sẽ giao khoán căn nhà của mình cho nhà thầu thực hiện thi công từ A đến Z.                    

            a(href="#").ac_future--item.item-hover
                span.btn-al-ic.cl-2
                    i.fas.fa-arrow-right 
                span.ac_future--item-bg 
                    +img("acfuture.png")
                span.ac_future--item-wrap 
                    span.ac_future--item-top
                        span.note-text.cl-white 05
                        span.note-lg.cl-white.fw-7.fl-Anybody.t-up THIẾT KẾ, THI CÔNG CỔNG NHÔM ĐÚC
                    span.ac_future--item-bottom
                        span.ac_future--item-bottom-lf 
                            span.ac_future--item-bottom-lf-wrap 
                                span.title-sm3.fw-7.cl-white 05
                                span.note-text.cl-white 05
                        span.ac_future--item-bottom-rt 
                            span.ac_future--item-bottom-rt-wrap 
                                span.title-sm4.fl-Big-Display.fw-7.cl-white THIẾT KẾ, THI CÔNG CỔNG NHÔM ĐÚC
                                span.note-text.cl-white Là một loại hình dịch vụ xây dựng mà gia chủ sẽ giao khoán căn nhà của mình cho nhà thầu thực hiện thi công từ A đến Z.
    section.home_qt.free-slide2 
        .container 
            .note-lg.fw-7.cl-second.fl-Anybody.t-up QUY TRÌNH THỰC HIỆN
            .ac_future--title 
                +title-sm3("QUY TRÌNH THỰC HIỆN DỰ ÁN CÔNG TRÌNH TẠI AKACONS")
                .note-text.cl-black2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .qui_trinh--wrap 
                .qui_trinh--content
                    .qui_trinh--list.d-wrap 
                        - const qts = [{img:"imgqt.png",num:"01",title:"Tiếp nhận các thông tin từ khách hàng",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",ic:"qt1.svg"},{img:"imgqt.png",num:"02",title:"Tư vấn và báo giá phương án tối ưu nhất",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",ic:"qt2.svg"},{img:"imgqt.png",num:"03",title:"Ký kết hợp đồng và đặt cọc tiền. AKA sẽ lên phương án kiến trúc, kết cấu và làm dự toán",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",ic:"qt3.svg"},{img:"imgqt.png",num:"04",title:"Sau khi đã thống nhất phương  AKA sẽ bắt tay vào thực hiện các nghĩa vụ đã ký trong hợp đồng",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",ic:"qt4.svg"},{img:"imgqt.png",num:"05",title:"Khách hàng tiến hành nghiệm thu và thanh lý hợp đồng",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",ic:"qt5.svg"}]
                        .swiper.mySwiper 
                            .swiper-wrapper
                                each qt , i in qts 
                                    .swiper-slide.d-item
                                        .qui_trinh--item.popup-main-item
                                            .qui_trinh--item-ar
                                                .qui_trinh--item-ar-img 
                                                    +img(qt.ic)
                                            .qui_trinh--item-wrap
                                                .qui_trinh--item-top
                                                    .note-text.cl-white.popup-main-title #{qt.title}
                                                .qui_trinh--item-bottom 
                                                    .qui_trinh--num.popup-main-num #{qt.num}
                                            .qui_trinh--img.popup-main-img
                                                +img(qt.img)
                                            .qui_trinh--text.popup-main-text #{qt.text}

            .swiper-scrollbar
    section.home_kt.line 
        .container 
            .home_kt--wrap.d-wrap 
                .home_kt--lf.d-item.d-2
                    .home_kt--lf-wrap
                        .home_kt--lf-img
                            +img("hkt.png")
                .home_kt--rt.d-item.d-2 
                    .home_kt--rt-wrap 
                        .home_kt--rt-content
                            +title-sm3("KẾ THỪA THẾ MẠNH NĂNG LỰC")
                            .note-text.cl-black2 AKACONS tự hào là đơn vị tiên phong trong việc áp dụng các quy chuẩn, tiêu chí thi công đòi hỏi kỹ thuật cao tại các dự án xây dựng quy mô lớn vào xây dựng nhà dân. 
    section.ac_tb.home 
        .container
            .note-lg.cl-second.fw-7.t-up DỰ ÁN
            .ac_tb--wrap
                .ac_tb--title
                    +title-sm3("CÁC DỰ ÁN ĐÃ ĐƯỢC AKCONS HOÀN THÀNH")
                    +btn("Xem tất cả","","far fa-arrow-right","cl-3")
                .ac_tb--list 
                     .post_list-top
                        .post_list-top--wrap 
                            a.post_list-top--img(href="") 
                                +img("postimg1.png")
                            a.post_list-top--title(href="")
                                .post_list-top--ic
                                    i.far.fa-arrow-up
                                .note-lg.cl-white.fl-Roboto.fw-7 Công trình cải tạo nhà ở tại TP. Cần Thơ
                        .post_list-bottom 
                            .post_list-bottom--list
                                - const list2s = [{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg2.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg3.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg4.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg5.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg6.png"}]
                                each list2 , i in list2s
                                    a.post_list-bottom--item(href="")
                                        .post_list-bottom--img 
                                            +img(list2.img)
                                        .note-text.fl-Roboto.fw-7 #{list2.title}
    section.about_cn.line
        .about_cn--title
            .container 
                .about_cn--title-wrap
                    +title-sm3("CẨM NANG XÂY DỰNG")
                    +btn("Xem tất cả","","far fa-arrow-right","")   
        ul.about_cn--list(data-aos="fade-up  ")
            - const cns = [{img:"cn1.png",title:"25+ mẫu thiết kế giếng trời trên cầu thang đẹp thoáng mát",text:"Giếng trời là một trong những hạng mục quan trọng nhận được rất nhiều sự quan tâm từ chủ đầu tư. Không chỉ có tác dụng thu hút nguồn ánh sáng tự nhiên từ bên ngoài",date:"23/06/2023"},{img:"cn2.png",title:"25+ mẫu thiết kế giếng trời trên cầu thang đẹp thoáng mát",text:"Giếng trời là một trong những hạng mục quan trọng nhận được rất nhiều sự quan tâm từ chủ đầu tư. Không chỉ có tác dụng thu hút nguồn ánh sáng tự nhiên từ bên ngoài",date:"23/06/2023"},{img:"cn3.png",title:"25+ mẫu thiết kế giếng trời trên cầu thang đẹp thoáng mát",text:"Giếng trời là một trong những hạng mục quan trọng nhận được rất nhiều sự quan tâm từ chủ đầu tư. Không chỉ có tác dụng thu hút nguồn ánh sáng tự nhiên từ bên ngoài",date:"23/06/2023"}]
                each cn , i in cns 
                    li.about_cn--item
                        .container
                            a(href="").about_cn--link
                                span.about_cn--item-wrap.d-wrap
                                    span.about_cn--item-lf.d-item
                                        span.about_cn--item-lf-wrap
                                            span.about_cn--item-img 
                                                +img(cn.img)
                                    span.about_cn--item-rt.d-item
                                        span.about_cn--item-rt-wrap 
                                            span.about_cn--item-rt-content
                                                span.note-lg.fw-7.fl-Anybody #{cn.title}
                                                span.note-sm.cl-black2 #{cn.text}
                                                span.note-smn.cl-black2 #{cn.date}
                                            span.btn-al-ic
                                                i.far.fa-arrow-right    
