extends layout/layout
block vars
    -title = 'dich-vu-ct'
    -mainClass = 'page-template pt'
    -bodyClass = ''
    -hdClass = ''

block container
    +breadcrumbs("Trang chủ","Dịch vụ","Xây dựng nhà ở trọn gói")
    +banner-main("XÂY DỰNG NHÀ Ở TRỌN GÓI","KẾT NỐI CÔNG TRÌNH, KẾT NỐI SỰ SỐNG","serbg.png")
    section.service_ct.line 
        .container
            .du_an-ct--list
                .du_an-ct--item
                    .du_an-ct--item-wrap.d-wrap 
                        .du_an-ct--item-lf.d-item.d-2
                            .du_an-ct--item-lf-wrap 
                                +title-sm3("XÂY DỰNG NHÀ Ở TRỌN GÓI")
                                .note-text Các kiến trúc sư tại AKACONS sẽ làm việc với khách hàng để hiểu nhu cầu và mong muốn, sau đó tạo ra một thiết kế phù hợp với ngân sách, phong cách và những yêu cầu cụ thể. Chúng tôi tin rằng các kiến trúc sư có nghĩa vụ tạo ra những không gian lý tưởng và hoàn thành xuất sắc dự án đó mà vẫn hài hòa về cảnh quan và công năng. Các kiến trúc sư không chỉ nghiên cứu cách các tòa nhà được xây dựng mà còn cả cách sử dụng không gian.
                                +btn("Tìm hiểu thêm","","far fa-arrow-right","")  
                        .du_an-ct--item-rt.d-item.d-2 
                            .du_an-ct--item-rt-wrap
                                .du_an-ct--item-img
                                    +img("serct1.png")
                .du_an-ct--item
                    .du_an-ct--item-wrap.d-wrap 
                        .du_an-ct--item-lf.d-item.d-2
                            .du_an-ct--item-lf-wrap 
                                +title-sm3("LỢI ÍCH MANG LẠI")
                                ul
                                    -const lists = [{title:"Tiết kiệm thời gian"},{title:"Tiết kiệm công sức"},{title:"Đảm bảo chất lượng"},{title:"Tối ưu hóa quá trình làm việc"},{title:"Tài chính linh hoạt"},{title:"Tài chính linh hoạt"},{title:"Bảo hành chu đáo"}]
                                        each list , i in lists 
                                            li #{list.title}
                        .du_an-ct--item-rt.d-item.d-2 
                            .du_an-ct--item-rt-wrap
                                .du_an-ct--item-img
                                    +img("serct2.png")                                
    section.service_slide 
        .container 
            .service_slide--content 
                .service_slide--wrap.d-wrap 
                    .service_slide--lf.d-item
                        .service_slide--lf-list
                            .service_slide--lf-wrap.d-wrap
                                .swiper.mySwiperSerLf
                                    .swiper-wrapper
                                         - const listLfs = [{img:"sersl1.png",title:"Không gian phòng ngủ",text:"Tiết kiệm thời gian, công sức, tiền bạc và sức khỏe cho gia chủ: Để xây dựng 1 căn nhà hoàn chỉnh từ lúc xin giấy cấp phép đến khi hoàn thiện mất 4-6 tháng và trải qua rất nhiều công việc phức tạp. Chủ đầu tư thường không có nhiều thời gian để chạy đi đi chạy lại xin phép giấy tờ (thủ tục cấp phép, hồ sơ xây dựng, hồ sơ xin điện nước,..)"},{img:"sersl2.png",title:"Không gian phòng ngủ 2",text:"Tiết kiệm thời gian, công sức, tiền bạc và sức khỏe cho gia chủ: Để xây dựng 1 căn nhà hoàn chỉnh từ lúc xin giấy cấp phép đến khi hoàn thiện mất 4-6 tháng và trải qua rất nhiều công việc phức tạp. Chủ đầu tư thường không có nhiều thời gian để chạy đi đi chạy lại xin phép giấy tờ (thủ tục cấp phép, hồ sơ xây dựng, hồ sơ xin điện nước,..)"},{img:"sersl3.png",title:"Không gian phòng ngủ 3",text:"Tiết kiệm thời gian, công sức, tiền bạc và sức khỏe cho gia chủ: Để xây dựng 1 căn nhà hoàn chỉnh từ lúc xin giấy cấp phép đến khi hoàn thiện mất 4-6 tháng và trải qua rất nhiều công việc phức tạp. Chủ đầu tư thường không có nhiều thời gian để chạy đi đi chạy lại xin phép giấy tờ (thủ tục cấp phép, hồ sơ xây dựng, hồ sơ xin điện nước,..)"},{img:"sersl4.png",title:"Không gian phòng ngủ 4",text:"Tiết kiệm thời gian, công sức, tiền bạc và sức khỏe cho gia chủ: Để xây dựng 1 căn nhà hoàn chỉnh từ lúc xin giấy cấp phép đến khi hoàn thiện mất 4-6 tháng và trải qua rất nhiều công việc phức tạp. Chủ đầu tư thường không có nhiều thời gian để chạy đi đi chạy lại xin phép giấy tờ (thủ tục cấp phép, hồ sơ xây dựng, hồ sơ xin điện nước,..)"}] 
                                            each listLf , i in listLfs
                                                .swiper-slide.d-item
                                                    .service_slide--lf-item
                                                        .service_slide--lf-img 
                                                            +img(listLf.img)
                                                        .service_slide--lf-content    
                                                            .title-sm2.fl-Big-Display.fw-7 #{listLf.title}
                                                            .note-text.cl-black2 #{listLf.text}
                    .service_slide--rt.d-item 
                        .service_slide--rt-wrap 
                            .service_slide--rt-list 
                                .swiper.mySwiperSerRt
                                    .swiper-wrapper
                                        -const listRts = [{img:"sersl1.png"},{img:"sersl2.png"},{img:"sersl3.png"},{img:"sersl4.png"}]
                                            each listRt , i in listRts
                                                .swiper-slide
                                                    .service_slide--rt-item 
                                                        .service_slide--rt-img 
                                                            +img(listRt.img)            
                            .swiper-scrollbar
    section.service_xd.free-slide2
        .container 
            +title-sm3("QUY TRÌNH XÂY DỰNG")
            
            .qui_trinh--wrap 
                .qui_trinh--content
                    .qui_trinh--list.d-wrap 
                        - const qts = [{img:"imgqt.png",num:"01",title:"Tiếp nhận các thông tin từ khách hàng",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",ic:"qt1.svg"},{img:"imgqt.png",num:"02",title:"Tư vấn và báo giá phương án tối ưu nhất",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",ic:"qt2.svg"},{img:"imgqt.png",num:"03",title:"Ký kết hợp đồng và đặt cọc tiền. AKA sẽ lên phương án kiến trúc, kết cấu và làm dự toán",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",ic:"qt3.svg"},{img:"imgqt.png",num:"04",title:"Sau khi đã thống nhất phương  AKA sẽ bắt tay vào thực hiện các nghĩa vụ đã ký trong hợp đồng",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",ic:"qt4.svg"},{img:"imgqt.png",num:"05",title:"Khách hàng tiến hành nghiệm thu và thanh lý hợp đồng",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",ic:"qt5.svg"}]
                        .swiper.mySwiper 
                            .swiper-wrapper
                                each qt , i in qts 
                                    .swiper-slide.d-item
                                        .qui_trinh--item.popup-main-item
                                            .qui_trinh--item-ar
                                                .qui_trinh--item-ar-img 
                                                    +img(qt.ic)
                                            .qui_trinh--item-wrap
                                                .qui_trinh--item-top
                                                    .note-text.cl-white.popup-main-title #{qt.title}
                                                .qui_trinh--item-bottom 
                                                    .qui_trinh--num.popup-main-num #{qt.num}
                                            .qui_trinh--img.popup-main-img
                                                +img(qt.img)
                                            .qui_trinh--text.popup-main-text #{qt.text}

            .swiper-scrollbar          
    section.service_hm.line.free-slide2.list-hover2 
        .container 
            +title-sm3("HẠNG MỤC KHI SỬA CHỮA NHÀ Ở")
            .note-text.cl-black2 Lorem ipsum dolor sit amet consectetur. Commodo vulputate quis est augue elit interdum. Non tristique tellus elementum dui. Fermentum dictumst faucibus morbi egestas ornare. Et habitasse vel justo dolor amet.

            .service_hm--wrap
                .service_hm--top 
                    .service_hm--top-list
                        - const listImgs = [{img:"hm1.png"},{img:"hm2.png"},{img:"hm3.png"}]
                            each listImg , i in listImgs
                                if i == 0
                                    .service_hm--top-item.itemImg.showed
                                        .service_hm--top-img
                                            +img(listImg.img)
                                else            
                                    .service_hm--top-item.itemImg
                                        .service_hm--top-img
                                            +img(listImg.img)
                .service_hm--bottom 
                    .service_hm--bottom-list.d-wrap 
                        .swiper.mySwiper
                            .swiper-wrapper
                                .swiper-slide.d-item.d-3 
                                    .service_hm--bottom-item.item-hover2.actived 
                                        .title-sm2.fl-Big-Display.fw-7 Tháo dỡ 
                                        ul.service_hm--bottom-item-list
                                            li.service_hm--bottom-item-item Tháo dỡ  và vận chuyển nhà
                                            li.service_hm--bottom-item-item Fixed Return:
                                            li.service_hm--bottom-item-item MonthlyDistributins:
                                            li.service_hm--bottom-item-item Profit Share:
                                            li.service_hm--bottom-item-item Profit ShareExposure:
                                .swiper-slide.d-item.d-3 
                                    .service_hm--bottom-item.item-hover2 
                                        .title-sm2.fl-Big-Display.fw-7 Xây lại
                                        ul.service_hm--bottom-item-list
                                            li.service_hm--bottom-item-item Tháo dỡ  và vận chuyển nhà
                                            li.service_hm--bottom-item-item Fixed Return:
                                            li.service_hm--bottom-item-item MonthlyDistributins:
                                            li.service_hm--bottom-item-item Profit Share:
                                            li.service_hm--bottom-item-item Profit ShareExposure:
                                            li.service_hm--bottom-item-item Profit ShareExposure:
                                .swiper-slide.d-item.d-3 
                                    .service_hm--bottom-item.item-hover2 
                                        .title-sm2.fl-Big-Display.fw-7 Sắp xếp
                                        ul.service_hm--bottom-item-list
                                            li.service_hm--bottom-item-item Sắp xếp nội thất
                                            li.service_hm--bottom-item-item Fixed Return:
                                            li.service_hm--bottom-item-item MonthlyDistributins:
                                            li.service_hm--bottom-item-item Profit Share:
                                            li.service_hm--bottom-item-item Profit ShareExposure:
                                            li.service_hm--bottom-item-item Profit ShareExposure:
                        .swiper-scrollbar                            
    section.du_an-lq.line.free-slide2
        .container
            .du_an-lq--wrap 
                .du_an-lq--top 
                    +title-sm3("DỰ ÁN NỔI BẬT")
                    +box-navi("fal fa-arrow-left","fal fa-arrow-right")
                .du_an-lq--bottom
                    .du_an-lq--list.d-wrap
                        - const list3s = [{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg2.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg3.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg4.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg5.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg6.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg2.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg3.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg4.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg5.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg6.png"}]
                            .swiper.mySwiper 
                                .swiper-wrapper 
                                    each list3 , i in list3s 
                                        .swiper-slide.d-5 
                                            .du_an-lq--item
                                                a.post_list-bottom--item(href="")
                                                    .post_list-bottom--img 
                                                        +img(list3.img)
                                                    .note-text.fl-Roboto.fw-7 #{list3.title}
                    .swiper-scrollbar
    section.ac_kt 
        .container
            .ac_kt--box
                .ac_kt--bg 
                    +img("acbg.png")
                .ac_kt--wrap.d-wrap
                    .ac_kt--lf.d-item 
                        .ac_kt--lf-content 
                            +title-sm3("KẾ THỪA SỨC MẠNH NĂNG LỰC")
                            +btn("Liên hệ ngay","","far fa-arrow-right","cl-3")
                    .ac_kt--rt.d-item 
                        .ac_kt--rt-content 
                            .ac_kt--rt-img 
                                +img("bgNguoi.png")
                                                