extends layout/layout
block vars
    -title = 'tuyen-dung'
    -mainClass = 'page-template pt'
    -bodyClass = ''
    -hdClass = ''

block container
    +breadcrumbs("Trang chủ","","Tuyển dụng")
    +banner-main("Tuyển dụng","LÀM VIỆC TẠI AKACONS","tuyendungbg.png")
    section.tuyen_dung
        .container 
            .tuyen_dung--title
                +title-sm3("TUYỂN DỤNG")
                .tuyen_dung--search 
                    form(action="#")
                        .tuyen_dung--search-wrap
                            input(type="text" placeholder="Nhập từ khoá tìm kiếm ngành nghề")
                            button(type="submit").search
                                i.far.fa-search  
            .tuyen_dung--list.list-ani
                .tuyen_dung--wrap.d-wrap 
                    .tuyen_dung--lf.d-item.d-2 
                        .tuyen_dung--lf-wrap
                            .tuyen_dung--lf-top.item-ani
                                .tuyen_dung--lf-tt
                                    span.line-tt
                                    span.line-tt
                                    span.line-tt
                                .tuyen_dung--lf-top-content
                                    h2.title-mn.fl-Anybody.cl-second.t-up.fw-6 Môi trường làm việc
                                    .note-text.cl-black2 Chúng tôi không tìm cách lấp đầy các vị trí tuyển dụng mà tìm những người có ước mơ, mong muốn tạo ra sự ảnh hưởng và kiến tạo tương lai. Nguyên tắc làm việc của chúng tôi dựa trên tinh thần ONE TEAM.

                                    .tuyen_dung--lf-top-img 
                                        +img("td1.png")
                            .tuyen_dung--lf-bottom.item-ani
                                .tuyen_dung--lf-bottom-content 
                                    h2.title-mn.fl-Anybody.cl-second.t-up.fw-6 Nét riêng văn hóa

                                    ul.tuyen_dung--lf-bottom-list.d-wrap
                                        - const lists = [{img:"tdbt1.png",title:"CHÍNH TRỰC"},{img:"tdbt2.png",title:"NĂNG ĐỘNG"},{img:"tdbt3.png",title:"ĐOÀN KẾT"},{img:"tdbt4.png",title:"AN TOÀN"},{img:"tdbt5.png",title:"TÀI NĂNG"}]
                                        each list , i in lists
                                            li.tuyen_dung--lf-bottom-item.d-item.d-3
                                                .tuyen_dung--lf-bottom-box 
                                                    .tuyen_dung--lf-bottom-img 
                                                        +img(list.img)
                                                    h3.note-text.fl-Ques #{list.title}    
                    .tuyen_dung--rt.d-item.d-2
                        .tuyen_dung--rt-wrap
                            .tuyen_dung--rt-center.item-ani
                                    .tuyen_dung--rt-tt 
                                        span.line-tt 
                                    .tuyen_dung--rt-center-content
                                        h2.title-mn.fl-Anybody.cl-second.t-up.fw-6 Phát triển năng lực
                                        .note-text.cl-black2 Chúng tôi không tìm cách lấp đầy các vị trí tuyển dụng mà tìm những người có ước mơ, mong muốn tạo ra sự ảnh hưởng và kiến tạo tương lai. Nguyên tắc làm việc của chúng tôi dựa trên tinh thần ONE TEAM.

                                        .tuyen_dung--rt-center-img
                                            +img("td2.png")
    section.manh_ghep.tab-box
        .container 
            +title-sm3("MẢNH GHÉP CÒN THIẾU")
            .manh_ghep--top 
                .manh_ghep--top-lf
                    ul.fil-list
                        - const fils = [{title:"Tất cả"},{title:"Khối kinh doanh"},{title:"Khối văn phòng"},{title:"Khối kỹ thuật"}]
                            each fil , i in fils
                                if i == 0
                                    li.fil-item.actived.tab-btn #{fil.title}
                                else 
                                    li.fil-item.tab-btn.tab-btn #{fil.title}
                .manh_ghep--top-rt 
                    .manh_ghep--select 
                        select.post_select-js(name='position')
                            option(value='it1') Mới nhất
                            option(value='it2') Bộ lọc 2
                            option(value='it3') Bộ lọc 3
                            option(value='it3') Bộ lọc 4 
            .manh_ghep--bottom
                .manh_ghep--bottom-list 
                    .manh_ghep--bottom-item.tab-content.showed
                        .manh_ghep--bottom-wrap.d-wrap
                            -var mgs = [{img:"mg1.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg2.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg3.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg4.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg5.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg6.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"}]
                                each mg , i in mgs
                                    a(href="#").manh_ghep--item.d-item.d-2
                                        span.manh_ghep--item-wrap 
                                            span.manh_ghep--item-lf 
                                                span.manh_ghep--item-img 
                                                    +img(mg.img)
                                            span.manh_ghep--item-rt
                                                span.manh_ghep--item-rt-top 
                                                    span.manh_ghep--item-rt-top-lf 
                                                        h4.note-lg.fl-Anybody.fw-7 #{mg.title}
                                                        p.note-text.cl-second #{mg.note}
                                                    span.manh_ghep--item-rt-top-rt 
                                                        span.btn-al-ic 
                                                            i.far.fa-arrow-right
                                                span.manh_ghep--item-rt-bottom 
                                                        ul.manh_ghep--item-rt-bottom-list 
                                                            li.manh_ghep--item-rt-bottom-item 
                                                                span.manh_ghep--item-rt-bottom-ic
                                                                    +img("mgic1.svg")
                                                                span.note-text TP. Hồ Chí Minh
                                                            li.manh_ghep--item-rt-bottom-item 
                                                                span.manh_ghep--item-rt-bottom-ic
                                                                    +img("mgic2.svg")
                                                                span.note-text 
                                                                    strong VND 
                                                                    | 20.000.000 - 25.000.000
                                                            li.manh_ghep--item-rt-bottom-item 
                                                                span.manh_ghep--item-rt-bottom-ic
                                                                    +img("mgic3.svg")
                                                                span.note-text Toàn thời gian
                        +pagination
                    .manh_ghep--bottom-item.tab-content
                        .manh_ghep--bottom-wrap.d-wrap
                            -var mgs = [{img:"mg1.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg2.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg3.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg4.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg5.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg6.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"}]
                                each mg , i in mgs
                                    a(href="#").manh_ghep--item.d-item.d-2
                                        span.manh_ghep--item-wrap 
                                            span.manh_ghep--item-lf 
                                                span.manh_ghep--item-img 
                                                    +img(mg.img)
                                            span.manh_ghep--item-rt
                                                span.manh_ghep--item-rt-top 
                                                    span.manh_ghep--item-rt-top-lf 
                                                        h4.note-lg.fl-Anybody.fw-7 #{mg.title}
                                                        p.note-text.cl-second #{mg.note}
                                                    span.manh_ghep--item-rt-top-rt 
                                                        span.btn-al-ic 
                                                            i.far.fa-arrow-right
                                                span.manh_ghep--item-rt-bottom 
                                                        ul.manh_ghep--item-rt-bottom-list 
                                                            li.manh_ghep--item-rt-bottom-item 
                                                                span.manh_ghep--item-rt-bottom-ic
                                                                    +img("mgic1.svg")
                                                                span.note-text TP. Hồ Chí Minh
                                                            li.manh_ghep--item-rt-bottom-item 
                                                                span.manh_ghep--item-rt-bottom-ic
                                                                    +img("mgic2.svg")
                                                                span.note-text 
                                                                    strong VND 
                                                                    | 20.000.000 - 25.000.000
                                                            li.manh_ghep--item-rt-bottom-item 
                                                                span.manh_ghep--item-rt-bottom-ic
                                                                    +img("mgic3.svg")
                                                                span.note-text Toàn thời gian
                        +pagination                                                     
                    .manh_ghep--bottom-item.tab-content
                        .manh_ghep--bottom-wrap.d-wrap
                            -var mgs = [{img:"mg1.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg2.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg3.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg4.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg5.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg6.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"}]
                                each mg , i in mgs
                                    a(href="#").manh_ghep--item.d-item.d-2
                                        span.manh_ghep--item-wrap 
                                            span.manh_ghep--item-lf 
                                                span.manh_ghep--item-img 
                                                    +img(mg.img)
                                            span.manh_ghep--item-rt
                                                span.manh_ghep--item-rt-top 
                                                    span.manh_ghep--item-rt-top-lf 
                                                        h4.note-lg.fl-Anybody.fw-7 #{mg.title}
                                                        p.note-text.cl-second #{mg.note}
                                                    span.manh_ghep--item-rt-top-rt 
                                                        span.btn-al-ic 
                                                            i.far.fa-arrow-right
                                                span.manh_ghep--item-rt-bottom 
                                                        ul.manh_ghep--item-rt-bottom-list 
                                                            li.manh_ghep--item-rt-bottom-item 
                                                                span.manh_ghep--item-rt-bottom-ic
                                                                    +img("mgic1.svg")
                                                                span.note-text TP. Hồ Chí Minh
                                                            li.manh_ghep--item-rt-bottom-item 
                                                                span.manh_ghep--item-rt-bottom-ic
                                                                    +img("mgic2.svg")
                                                                span.note-text 
                                                                    strong VND 
                                                                    | 20.000.000 - 25.000.000
                                                            li.manh_ghep--item-rt-bottom-item 
                                                                span.manh_ghep--item-rt-bottom-ic
                                                                    +img("mgic3.svg")
                                                                span.note-text Toàn thời gian
                        +pagination
                    .manh_ghep--bottom-item.tab-content
                        .manh_ghep--bottom-wrap.d-wrap
                            -var mgs = [{img:"mg1.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg2.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg3.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg4.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg5.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{img:"mg6.png",title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"}]
                                each mg , i in mgs
                                    a(href="#").manh_ghep--item.d-item.d-2
                                        span.manh_ghep--item-wrap 
                                            span.manh_ghep--item-lf 
                                                span.manh_ghep--item-img 
                                                    +img(mg.img)
                                            span.manh_ghep--item-rt
                                                span.manh_ghep--item-rt-top 
                                                    span.manh_ghep--item-rt-top-lf 
                                                        h4.note-lg.fl-Anybody.fw-7 #{mg.title}
                                                        p.note-text.cl-second #{mg.note}
                                                    span.manh_ghep--item-rt-top-rt 
                                                        span.btn-al-ic 
                                                            i.far.fa-arrow-right
                                                span.manh_ghep--item-rt-bottom 
                                                        ul.manh_ghep--item-rt-bottom-list 
                                                            li.manh_ghep--item-rt-bottom-item 
                                                                span.manh_ghep--item-rt-bottom-ic
                                                                    +img("mgic1.svg")
                                                                span.note-text TP. Hồ Chí Minh
                                                            li.manh_ghep--item-rt-bottom-item 
                                                                span.manh_ghep--item-rt-bottom-ic
                                                                    +img("mgic2.svg")
                                                                span.note-text 
                                                                    strong VND 
                                                                    | 20.000.000 - 25.000.000
                                                            li.manh_ghep--item-rt-bottom-item 
                                                                span.manh_ghep--item-rt-bottom-ic
                                                                    +img("mgic3.svg")
                                                                span.note-text Toàn thời gian
                        +pagination
    section.tuyen_dung--form
        .container 
            .tuyen_dung--form-wrap.d-wrap
                .tuyen_dung--form-lf.d-item.d-2
                    .tuyen_dung--form-lf-wrap
                        .tuyen_dung--form-lf-top
                            .tuyen_dung--form-lf-top-content
                                +title-sm3("NẮM BẮT CƠ HỘI NGAY")
                                .note-text.cl-gray Chúng tôi luôn sẵn sàng lắng nghe và giải đáp mọi thắc mắc, ý kiến đóng góp hoặc yêu cầu của bạn. Để chúng tôi có thể hỗ trợ bạn một cách tốt nhất, vui lòng điền vào biểu mẫu liên hệ dưới đây:
                        .tuyen_dung--form-lf-bottom
                            .tuyen_dung--form-lf-bottom-content
                                h2.note-lg.fw-7.t-up.cl-white.fl-Anybody CÔNG TY CỔ PHẦN XÂY DỰNG AKA
                                .footer-info 
                                    ul.footer-info-list 
                                        li.footer-info-item 
                                            .footer-info-ic
                                                +img("location2.svg")
                                            .footer-info-wrap 
                                                a.footer-info-link(href="")  Biệt thự R12.15A, KĐT The Eden Rose, H. Thanh Trì, Hà Nội
                                        li.footer-info-item 
                                            .footer-info-ic
                                                +img("mail2.svg")
                                            .footer-info-wrap 
                                                a.footer-info-link(href="") lienhe.aka@gmail.com
                                        li.footer-info-item 
                                            .footer-info-ic
                                                +img("phone2.svg")
                                            .footer-info-wrap 
                                                a.footer-info-link(href="") 0945 555 017
                                                span.line
                                                a.footer-info-link(href="") 0966180018
                .tuyen_dung--form-rt.d-item.d-2 
                    .tuyen_dung--form-rt-wrap
                        form(action="#")
                            .tuyen_dung--form-rt-list 
                                .tuyen_dung--form-rt-item 
                                    .form-item 
                                        label.form-item-lb(for="name") 
                                            |Họ và tên 
                                            strong *
                                        input(type="text" placeholder="Họ và tên của bạn" id="name").form-item-ip 
                                             
                                .tuyen_dung--form-rt-item 
                                    .form-item 
                                        label.form-item-lb(for="email") 
                                            |Email  
                                            strong *
                                        input(type="text" placeholder="Email của bạn" id="email").form-item-ip 
                                .tuyen_dung--form-rt-item 
                                    .form-item 
                                        label.form-item-lb(for="phone") 
                                            |Điện thoại
                                            strong *
                                        input(type="text" placeholder="Số điện thoại của bạn" id="phone").form-item-ip 
                                            
                                .tuyen_dung--form-rt-item 
                                    .form-item 
                                        .form-item-lb 
                                            |CV
                                        .form-item-upload.btn-upload
                                            .note-text.cl-black2.text-file-upload Tải tệp lên 
                                            input(type="file" id="fileUpload")
                                .tuyen_dung--form-rt-item 
                                    .form-item 
                                        label.form-item-lb 
                                            |Nội dung 
                                        textarea(placeholder="Nội dung yêu cầu" value="").form-item-tx 
                            +btn("Gửi thông tin","button","far fa-arrow-right","cl-2")
    section.qui_trinh.free-slide2
        .container 
            +title-sm3("QUY TRÌNH TUYỂN DỤNG")
            
            .qui_trinh--wrap 
                .qui_trinh--content
                    .qui_trinh--list.d-wrap 
                        - const qts = [{img:"imgqt.png",num:"01",title:"ỨNG TUYỂN",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",ic:"qt1.svg"},{img:"imgqt.png",num:"02",title:"Tiếp nhận và sàng lọc hồ sơ",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",ic:"qt2.svg"},{img:"imgqt.png",num:"03",title:"Phỏng vấn",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",ic:"qt3.svg"},{img:"imgqt.png",num:"04",title:"Thỏa thuận hợp đồng",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",ic:"qt4.svg"},{img:"imgqt.png",num:"05",title:"Hoàn thiện hồ sơ sau khi trúng tuyển",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",ic:"qt5.svg"}]
                        .swiper.mySwiper 
                            .swiper-wrapper
                                each qt , i in qts 
                                    .swiper-slide.d-item
                                        .qui_trinh--item.popup-main-item
                                            .qui_trinh--item-ar
                                                .qui_trinh--item-ar-img 
                                                    +img(qt.ic)
                                            .qui_trinh--item-wrap
                                                .qui_trinh--item-top
                                                    .note-text.cl-white.popup-main-title #{qt.title}
                                                .qui_trinh--item-bottom 
                                                    .qui_trinh--num.popup-main-num #{qt.num}
                                            .qui_trinh--img.popup-main-img
                                                +img(qt.img)
                                            .qui_trinh--text.popup-main-text #{qt.text}

            .swiper-scrollbar                
    section.chinh_sach.line.tab-box
        .container 
            +title-sm3("CHÍNH SÁCH NGƯỜI LAO ĐỘNG")
            .chinh_sach--wrap
                .chinh_sach--top
                    ul.fil-list
                            - const fil2s = [{title:"Chính sách đãi ngộ"},{title:"Chăm sóc sức khỏe"},{title:"Chính sách lao động"},{title:"Chính sách lương"}]
                                each fil2 , i in fil2s
                                    if i == 0
                                        li.fil-item.actived.tab-btn #{fil2.title}
                                    else 
                                        li.fil-item.tab-btn.tab-btn #{fil2.title}
                .chinh_sach--bottom 
                    .chinh_sach--list
                        - const list2s = [{img:"cs.png",title:"Chính sách đãi ngộ",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."},{img:"cs.png",title:"Chăm sóc sức khỏe",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."},{img:"cs.png",title:"Chính sách lao động",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."},{img:"cs.png",title:"Chăm sóc sức khỏe",text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."}]
                        each list2 , i in list2s
                            if i == 0 
                                .chinh_sach--item.tab-content.showed 
                                    .chinh_sach--item-wrap.d-wrap 
                                        .chinh_sach--lf.d-item.d-2 
                                            .chinh_sach--lf-wrap
                                                .chinh_sach--lf-img 
                                                    +img(list2.img)
                                        .chinh_sach--rt.d-item.d-2
                                            .chinh_sach--rt-wrap
                                                .note-lg.fw-7.fl-Anybody #{list2.title}
                                                .note-text.cl-black2 #{list2.text}
                            else
                                .chinh_sach--item.tab-content 
                                    .chinh_sach--item-wrap.d-wrap 
                                        .chinh_sach--lf.d-item.d-2 
                                            .chinh_sach--lf-wrap
                                                .chinh_sach--lf-img 
                                                    +img(list2.img)
                                        .chinh_sach--rt.d-item.d-2
                                            .chinh_sach--rt-wrap
                                                .note-lg.fw-7.fl-Anybody #{list2.title}
                                                .note-text.cl-black2 #{list2.text}                    




